In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [0]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# from sklearn.model_selection import GridSearchCV
# from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score,precision_score,f1_score
from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler,scale,minmax_scale
# from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2#,mutual_info_classif
# from pandas.tools.plotting import scatter_matrix
# from sklearn import svm
# from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans

In [0]:
data = pd.read_csv("/content/drive/My Drive/app/train.csv", delimiter=',')

In [0]:
y = data['Classification']
X = data.drop('Classification',axis=1)
X = X.drop('id',axis=1)

In [7]:
X.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,47,22.0300,84,2.869,0.5900,26.6500,38.0400,3.3200,191.720
1,75,30.4800,152,7.010,2.6283,50.5300,10.0600,11.7300,99.450
2,25,22.8600,82,4.090,0.8273,20.4500,23.6700,5.1400,313.730
3,54,24.2188,86,3.730,0.7913,8.6874,3.7052,10.3446,635.049
4,69,35.0927,101,5.646,1.4066,83.4821,6.7970,82.1000,263.499

# **Solução 1**

In [0]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)

In [0]:
kmeans = KMeans(n_clusters = 2, init = 'random')
kmeans = kmeans.fit(x_train,y_train)

In [18]:
ac = accuracy_score(y_test, kmeans.predict(x_test))
f = f1_score(y_test, kmeans.predict(x_test), average='macro')
pr = precision_score(y_test, kmeans.predict(x_test), average='macro')

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1137: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [19]:
print('Accurácia é: ',ac)
print('F1-Score é:',f)
print('Precisão é: ',pr)

Accurácia é:  0.5
F1-Score é: 0.27777777777777773
Precisão é:  0.2380952380952381

# **Solução 2**

In [0]:
select_feature = SelectKBest(chi2, k=5).fit(x_train, y_train)

In [25]:
print('Score Lista:',select_feature.scores_)
print('Caracteristicas lista:',x_train.columns)

Score Lista: [2.11739278e-02 2.70182175e+00 4.28986176e+01 4.91577422e+01
 2.43315875e+01 8.48884666e-01 2.94505062e+00 1.36325063e+01
 5.82138642e+00]
Caracteristicas lista: Index(['Age', 'BMI', 'Glucose', 'Insulin', 'HOMA', 'Leptin', 'Adiponectin',
       'Resistin', 'MCP.1'],
      dtype='object')

In [27]:
x_train_2 = select_feature.transform(x_train)
x_test_2 = select_feature.transform(x_test)

kmeans_2 = KMeans(n_clusters = 2, init = 'random')
kmeans_2 = kmeans_2.fit(x_train_2, y_train)

ac_2 = accuracy_score(y_test, kmeans_2.predict(x_test_2))
f_2 = f1_score(y_test, kmeans_2.predict(x_test_2), average='macro')
pr_2 = precision_score(y_test, kmeans_2.predict(x_test_2), average='macro')

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1137: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [28]:
print('Acurácia é: ' ,ac)
print('F1-Score é: ',f)
print('Precisão é: ',pr)

Acurácia é:  0.5
F1-Score é:  0.27777777777777773
Precisão é:  0.2380952380952381

# **Teste com o Melhor Classificador**

In [0]:
data_test = pd.read_csv("/content/drive/My Drive/app/test.csv",delimiter=',')

In [34]:
data_test.head()

,id,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,100,62,22.6562,92,3.482,0.7902,9.8648,11.2362,10.6955,703.973
1,78,29,23.0100,82,5.663,1.1454,35.5900,26.7200,4.5800,174.800
2,77,75,25.7000,94,8.079,1.8733,65.9260,3.7412,4.4968,206.802
3,113,44,27.8876,99,9.208,2.2486,12.6757,5.4782,23.0331,407.206
4,86,75,23.0000,83,4.952,1.0138,17.1270,11.5790,7.0913,318.302

In [0]:
data_test = data_test.drop('id',axis=1)

In [36]:
data_test.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,62,22.6562,92,3.482,0.7902,9.8648,11.2362,10.6955,703.973
1,29,23.0100,82,5.663,1.1454,35.5900,26.7200,4.5800,174.800
2,75,25.7000,94,8.079,1.8733,65.9260,3.7412,4.4968,206.802
3,44,27.8876,99,9.208,2.2486,12.6757,5.4782,23.0331,407.206
4,75,23.0000,83,4.952,1.0138,17.1270,11.5790,7.0913,318.302

In [39]:
kmeans.predict(data_test)

array([0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1], dtype=int32)

In [0]:
out = kmeans.predict(data_test)

In [0]:
out = pd.DataFrame(out,columns=['Classificacion'])

In [0]:
out.to_csv('saida.csv',index=False)