In [15]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [25]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score

data = pd.read_csv("/content/drive/My Drive/app/train.csv") 
data.head(10)

,id,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,114,47,22.0300,84,2.869,0.5900,26.6500,38.0400,3.3200,191.720,1
1,104,75,30.4800,152,7.010,2.6283,50.5300,10.0600,11.7300,99.450,2
2,90,25,22.8600,82,4.090,0.8273,20.4500,23.6700,5.1400,313.730,1
3,8,54,24.2188,86,3.730,0.7913,8.6874,3.7052,10.3446,635.049,2
4,9,69,35.0927,101,5.646,1.4066,83.4821,6.7970,82.1000,263.499,1
5,20,44,20.7600,86,7.553,1.6000,14.0900,20.3200,7.6400,63.610,1
6,47,41,26.6728,97,22.033,5.2718,44.7059,13.4949,27.8325,783.796,2
7,2,45,29.3848,90,4.713,1.0463,23.8479,6.6442,15.5562,621.273,2
8,45,46,33.1800,92,5.750,1.3049,18.6900,9.1600,8.8900,209.190,2
9,72,66,27.7000,90,6.042,1.3413,24.8460,7.6521,6.7052,225.880,1

In [18]:
y = data['Classification']
x = data.drop('Classification',axis=1)
x = x.drop('id',axis=1)

x.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,47,22.0300,84,2.869,0.5900,26.6500,38.0400,3.3200,191.720
1,75,30.4800,152,7.010,2.6283,50.5300,10.0600,11.7300,99.450
2,25,22.8600,82,4.090,0.8273,20.4500,23.6700,5.1400,313.730
3,54,24.2188,86,3.730,0.7913,8.6874,3.7052,10.3446,635.049
4,69,35.0927,101,5.646,1.4066,83.4821,6.7970,82.1000,263.499

In [0]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=42)

In [29]:
kmeans = KMeans(n_clusters = 2, init = 'random')
kmeans.fit(x_train,y_train)
ac = accuracy_score(y_test,kmeans.predict(x_test))
f = f1_score(y_test,kmeans.predict(x_test),average='macro')
pr = precision_score(y_test,kmeans.predict(x_test),average='macro')

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1137: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [30]:
print('Acurácia é: ' ,ac)
print('F1-Score é: ',f)
print('Precisão é: ',pr)

Acurácia é:  0.5
F1-Score é:  0.27777777777777773
Precisão é:  0.2380952380952381

In [34]:
data_test = pd.read_csv("/content/drive/My Drive/app/test.csv")
data_test.head()

,id,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,100,62,22.6562,92,3.482,0.7902,9.8648,11.2362,10.6955,703.973
1,78,29,23.0100,82,5.663,1.1454,35.5900,26.7200,4.5800,174.800
2,77,75,25.7000,94,8.079,1.8733,65.9260,3.7412,4.4968,206.802
3,113,44,27.8876,99,9.208,2.2486,12.6757,5.4782,23.0331,407.206
4,86,75,23.0000,83,4.952,1.0138,17.1270,11.5790,7.0913,318.302

In [35]:
data_test = data_test.drop('id',axis=1)
data_test.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,62,22.6562,92,3.482,0.7902,9.8648,11.2362,10.6955,703.973
1,29,23.0100,82,5.663,1.1454,35.5900,26.7200,4.5800,174.800
2,75,25.7000,94,8.079,1.8733,65.9260,3.7412,4.4968,206.802
3,44,27.8876,99,9.208,2.2486,12.6757,5.4782,23.0331,407.206
4,75,23.0000,83,4.952,1.0138,17.1270,11.5790,7.0913,318.302

In [36]:
kmeans.predict(data_test)

array([0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1], dtype=int32)

In [44]:
out = kmeans.predict(data_test)

array([0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1], dtype=int32)

In [0]:
out = pd.DataFrame(out,columns=['Classification'])

In [0]:
out.to_csv('saida.csv',index=False)