In [42]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score

In [43]:
data = pd.read_csv('train.csv')
data.head()

,id,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,114,47,22.0300,84,2.869,0.5900,26.6500,38.0400,3.3200,191.720,1
1,104,75,30.4800,152,7.010,2.6283,50.5300,10.0600,11.7300,99.450,2
2,90,25,22.8600,82,4.090,0.8273,20.4500,23.6700,5.1400,313.730,1
3,8,54,24.2188,86,3.730,0.7913,8.6874,3.7052,10.3446,635.049,2
4,9,69,35.0927,101,5.646,1.4066,83.4821,6.7970,82.1000,263.499,1

In [44]:
y = data['Classification']
x = data.drop('Classification',axis=1)
x = x.drop('id',axis=1)

In [45]:
x.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,47,22.0300,84,2.869,0.5900,26.6500,38.0400,3.3200,191.720
1,75,30.4800,152,7.010,2.6283,50.5300,10.0600,11.7300,99.450
2,25,22.8600,82,4.090,0.8273,20.4500,23.6700,5.1400,313.730
3,54,24.2188,86,3.730,0.7913,8.6874,3.7052,10.3446,635.049
4,69,35.0927,101,5.646,1.4066,83.4821,6.7970,82.1000,263.499

In [46]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=42)

In [47]:
kmeans = KMeans(n_clusters = 2, init = 'random')
kmeans.fit(x_train,y_train)

KMeans(algorithm='auto', copy_x=True, init='random', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [48]:
ac = accuracy_score(y_test,kmeans.predict(x_test))
f1 = f1_score(y_test,kmeans.predict(x_test),average='macro')
pr = precision_score(y_test,kmeans.predict(x_test),average='macro')

/home/filipanselmo/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/filipanselmo/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1137: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/home/filipanselmo/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [49]:
print('Acuracia: ', ac)
print('F1-Score: ', f1)
print('Precisao: ', pr)

Acuracia:  0.5
F1-Score:  0.27777777777777773
Precisao:  0.2380952380952381

0.27777777777777773